<!DOCTYPE html>
<html
    lang='{{languange}}'
    login='{{login}}'
    role='{{role}}'
>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{title}}</title>
    <link href='/front/style/favicone.ico' rel='shortcut icon' type='image/x-icon' />
</head>
<body>
    <div id='root'><div>
    <script type='text/javascript' src='/public/{{script}}'></script>
</body>
</html>
