.ParamsPagination{
	width: calc(100% - 10px);
	margin: 2px;
}

.SelectedParams{
	width: calc(100% - 18px);
	margin: 2px;
	border-radius:3px;
	background-color:#eee;
	visibility: hidden;
	color:#222;
	padding:5px;
}

.BruTypeParamsPaginatedList{
	width: calc(100% - 10px);
	margin: 2px;
}

.ParamsPaginationInline{
	width: calc(33% - 3px);
	display: inline-block;
	margin: 2px;
	text-align: center;
}

.SearchResult{
	width: calc(100% - 18px);
	margin: 2px;
	border-radius:3px;
	visibility: hidden;
	padding:5px;
	vertical-align: top;
}

.SmallProgressImg {
	height:30px;
	widht:30px;
	visibility: hidden;
}