# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
luche.sublime-project

# windows thumbnail cache
Thumbs.db

.tmp

# composer vendor dir
/vendor
.cache/
.local/
.ft/

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

#config
/src/config/db*.php

#log
/log
php_errors.log

#server
.bash_history
.config
.gitconfig
.viminfo
.remote-sync.json

#runtime
/runtime
