#ServerName PREFIX.luch15.com
#ServerAlias www.PREFIX.luch15.com

#ServerAdmin webmaster@localhost
#DocumentRoot PATH/luche/

#DirectoryIndex index.php
SetEnv APPLICATION_ENV 'dev'

#ErrorLog PATH/luche/log/error.log
#LogFormat "%h %l %u %t \"%r\" %>s %b" common
#CustomLog PATH/luche/log/access.log common
#LogLevel alert rewrite:trace5

Header set Access-Control-Allow-Origin "*"

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    RewriteRule ^ - [L]
    RewriteRule ^(.*)$ index.php [NC,L]
</IfModule>
