.search-flight-filter {
	float: left; 
	width: 180px; 
	height: 100%; 
	padding: 0px 8px;
	border-right: 1px solid #ccc;
}

.search-form-alg {
	float: left; 
	width: 180px; 
	height: 100%; 
	padding: 0px 8px;
	border-right: 1px solid #ccc;
}

.search-form-flights {
	float: left; 
	padding: 0px 8px;
	width: calc(100% - 410px); 
	height: 100%; 
}

.search-form-clear {
	clear: both;
}

.search-form-inputs, .search-form-labels {
	margin: 5px auto;
	max-width: 100%;
	width: 90%;
}

.search-form-alg-item-row {
	width:100%;
}

.search-form-alg-item {
	margin: 5px 10px;
	float:left;
}

.search-form-alg-text {
	float:left;
}

.search-form-alg-clear {
	clear:both;
}

.found-flight-row {
	width:100%;
}

.found-flight-item {
	margin: 5px 10px;
	float:left;
}

.found-flight-text {
	float:left;
}

.found-flight-clear {
	clear:both;
}