.user-creation-info {
	color:darkred;
	text-align: center;
}

.items-avaliability-table-wrap {
	overflow-y:scroll;
	height:300px
}


.items-avaliability-table {
	width: 99%;
	border-collapse: collapse;
}

.items-avaliability-table-header td{
	font-weight:bold;
	text-align:center;
	font-size:16px;
	color:#FFFAFA;
	background-color:#708090;
	height:50px;
}

.items-avaliability-table-row--selected {
	background-color:#B0DDFA !important;
}

.items-avaliability-table tr.items-avaliability-table-row:hover td{
	background-color:#c0c0c0;
}

.items-avaliability-table-cell {
	border: 1px solid #444;
	padding: 0.1em 0.3em;
}

.table-stripe:nth-child(even) {
	background-color:lightgrey;
}

.userlist-img-container {
    width: 140px;
    height: 140px;
    display: table;
    background-color: #ccc;
}

.userlist-img-image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.userlist-img-image-container img {
     max-width: 140px;
     max-height: 140px;
 }

#userListOptions label {
    margin: 0 10px 0 0 !important;
}

#userListContent td {
    padding: 5px 2px !important;
}
