.SliderRangeTD {
    width:250px;
    padding:6px 15px 0px 10px;
}

#sliderRange {
    font-size:14px;
}

.OptionsMenuTableTD {
    padding-top:4px;
}

.exceptions-accordion-title {
    text-align: left;
    font-size: 18px;
    line-height: 0px;
    max-height: 34px;
    font-weight: bold;
    border: 1px solid #999;
    margin: 2px 5px 2px 6px;
    padding: 20px 5px;
    cursor: pointer;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.events_user-comment-texarea {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

.container__events-list {
    overflow-y: auto;
    height:100%;
    padding: 0px 5px 20px;
}

.content--no-scroll {
    overflow: hidden !important;
}

#events-header__comments {
    text-align: left;
    width: 100%;
    padding: 5px;
    min-height: 65px;
    overflow: hidden;
}

.comments_coll-7 {
    float: left;
    width: 57%;
    overflow: hidden;
}

.comments_coll-3 {
    float: left;
    width: 25%;
    overflow: hidden;
}

.comments_coll-2 {
    float: left;
    width: 18%;
    overflow: hidden;
    text-align: center;
}

.comments__text {
    width: calc(100% - 15px);
    min-height: 50px;
    margin: 5px;
    resize: none;
}

.comments__text-label,
.comments__btn-label,
.comments__checkbox-general-label {
    margin: 5px;
}

.comments__checkbox-label{
    float: left;
    width: 100%;
}

#comments__btn {
    padding: 0px;
    margin: 10px auto;
    color: #333;
    background-color: #708090;
    border: 1px solid #adadad;
    border-radius: 4px;
    touch-action: manipulation;
    cursor: pointer;
}

#comments__btn:hover {
    color: #333;
    background-color: #4d5863;
    border-color: #999;
}

#comments__btn:active {
    color: #333;
    background-color: #999;
    border-color: #555;
}

#comments__btn.is-analyzed {
    color: #333;
    background-color: #68ad68;
    border-color: #555;
}

.comments__btn-img {
    min-height: 50px;
    width: 55px;
    display: block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/front/stylesheets/basicImg/analyze.png');
}

.is-analyzed  .comments__btn-img {
    background-image: url('/front/stylesheets/basicImg/checked.png');
}

.comments_row {
    width: 100%;
}
